#wbody{
    border: 1px solid black;
    margin: 0 auto;
    width: 560px;
}

.wbody .title{
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: 700;
    line-height: 23px;
}


.content-card{
    border: 1px solid black;
    width: 324.500px;
    height: 50px;
    border-radius: 8px;
    float: left;
}
.content-card #rightside{
    padding-left: 10px;
} 

.content::after{
    content:'';
    display: block;
    clear: both;
}

.content-daily{
    border: 1px solid black;
    width: 711px;
    height: 158.5px;
}

.weather-day li{
    display: ;
}

.day-card{
    display: inline-block;
    border: 1px solid black;
    width: 115px;
    height: 110.5px;
    padding-bottom: 28px ;
    text-align: center;
    overflow: auto;
}

ul{
    list-style-type: none;
    margin-left: -2em;
}

.weather-indi {

    background-position: -200px -718px;
    border: 1px solid black; 
    width: 34px;
    height: 34px;
    display: block;
}